.toggle-button {
    -fx-background-radius: 2em;
    -fx-padding: 20px;

}

.button {
    -fx-background-radius: 1em;
    -fx-padding: 20px;
}

.toggle-button:selected{
    -fx-background-color: linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%);
}
