<?xml version="1.0" encoding="UTF-8" ?>
<!-- Put this file into src/main/resources -->
<configuration>

    <contextName>WebContext</contextName>

    <jmxConfigurator/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p [%t] %c{1}.%M\(%L\) | %m%n</pattern>
        </encoder>
    </appender>

    <!-- This appender to catch all except trace -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logback_debug.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback_debug.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%c{3}] \(%t:%X{}\) %m%n</pattern>
        </encoder>
    </appender>

    <!-- This appender to catch only errors -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logback_error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback_error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%c{3}] \(%t:%X{}\) %m%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="${logger.root.level}"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

    <!-- Third Parties Logs -->
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <logger name="com.github.gist">
        <level value="DEBUG"/>
    </logger>

</configuration>